/*---------------------------
# Font Family
---------------------------*/
@font-face {
    font-family: "base-font";
    src: url(/Assets/Fonts/Main-font.ttf);
}

@font-face {
    font-family: "head-font";
    src: url(/Assets/Fonts/Title-font.ttf);
}


/*---------------------------
# Root
---------------------------*/
:root {
    /*--------- Color ---------*/
    --bg-color-1: #fff;
    --bg-color-2: #f7f7f7;
    --bg-color-hover: #e6e6e6dd;
    --txt-color: #1d1d1d;
    --main-color: #00af83;
    --main-color-hover: #009b74;
    --box-shadow: #00000017;

    /*--------- Font size ---------*/
    --font-size-smallest: 11px;
    --font-size-small: 14px;
    --font-size-base: 15px;
    --font-size-big: 20px;
    --font-size-huge: 25px;

    /*--------- Font family ---------*/
    --base-font: "base-font", sans-serif;
    --head-font: "head-font", sans-serif;

    /*--------- Border radius ---------*/
    --radius-small: 5px;
    --radius-medium: 10px;
    --radius-big: 15px;
    --radius-huge: 20px;
    --radius-round: 50%;

    /*--------- Transition ---------*/
    --transition-3: .3s ease;
    --transition-4: .4s ease;
    --transition-5: .5s ease;
    --transition-6: .6s ease;

    /*--------- Bootstrap ---------*/
    --bs-dropdown-link-active-bg: #00af83 !important;
    --bs-btn-active-border-color: transparent !important;
}

/*--------------------------------------
# Scrollbar
--------------------------------------*/
*::-webkit-scrollbar {
    display: none;
}

/*-----------------------------------------------
  # Webkit tools
-----------------------------------------------*/
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*--------------------------------------
# Body with elements
--------------------------------------*/
body {
    font-size: var(--font-size-base);
    background-color: var(--bg-color-2);
    color: var(--txt-color);
}

body.dark {
    --bg-color-1: #242526;
    --bg-color-2: #3f3f3f;
    --txt-color: #fff;
}

body.pink {
    --main-color: rgb(255, 125, 147) !important;
    --main-color-hover: rgb(253, 98, 124) !important;
}

body.green {
    --main-color: #5f7bf8 !important;
    --main-color-hover: #4b64dd !important;
}

body.orange {
    --main-color: rgb(255, 123, 46) !important;
    --main-color-hover: rgb(255, 107, 22) !important;
}

body.red {
    --main-color: rgb(224, 79, 79) !important;
    --main-color-hover: rgb(218, 62, 62) !important;
}

body.black {
    --main-color: #654E92 !important;
    --main-color-hover: #574183 !important;
}

body.default {
    --main-color: #00af83 !important;
    --main-color-hover: #009b74 !important;
}

/* ----- Font scheme ----- */
body.FontSize-small {
    --font-size-smallest: 9px;
    --font-size-small: 11px;
    --font-size-base: 13px;
    --font-size-big: 16px;
    --font-size-huge: 18px;
}

body.FontSize-medium {
    --font-size-smallest: 11px;
    --font-size-small: 14px;
    --font-size-base: 15px;
    --font-size-big: 20px;
    --font-size-huge: 25px;
}

body.FontSize-big {
    --font-size-smallest: 13px;
    --font-size-small: 15px;
    --font-size-base: 17px;
    --font-size-big: 22px;
    --font-size-huge: 27px;
}


/*---------------------------
# Default elements
---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

ul,
li,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

.line {
    border-right: 2px solid var(--bg-color-2);
    padding-right: 5px;
    display: flex;
    align-items: center;
    margin-right: 15px;

}

/*--------------------------------------
# Switch button
--------------------------------------*/
.form-check-input {
    margin-top: 0;
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--bg-color-1);
    border-color: var(--main-color);
    transition: var(--transition-4);
}

.form-check-input:checked {
    border-color: var(--main-color);
    background-color: var(--main-color-hover);
    transition: var(--transition-4);
}

/*---------------------------
# Header
---------------------------*/
.navbar {
    background-color: var(--bg-color-1);
    width: 97%;
    margin: auto;
    margin-top: 10px;
    border-radius: var(--radius-medium);
    box-shadow: rgba(0, 0, 0, 0.082) 0px 7px 29px 0px;
    padding: 5px 30px;
}

.navbar-nav {
    margin-left: 30px;
}

.nav-link {
    font-family: var(--head-font);
    font-size: var(--font-size-small);
    padding: 6px 10px !important;
    margin: 0 .2rem;
    border-radius: var(--radius-medium);
    cursor: pointer;
    color: var(--txt-color);
}

.nav-link:hover {
    background-color: var(--main-color);
    color: #fff;
}

.nav-link.active {
    color: #fff !important;
}

.nav-link.show {
    background-color: var(--main-color);
    color: #fff !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    display: block;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: var(--transition-3);
    margin-top: 20px;
    padding: 10px;
    background-color: var(--bg-color-1);
}

.navbar-expand-lg .navbar-nav .dropdown-menu.show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    margin-top: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 50px;
    width: auto;
    border: none;
    border-radius: var(--radius-big);
    box-shadow: rgba(0, 0, 0, 0.068) 0px 7px 29px 0px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle .fa-chevron-down {
    transition: var(--transition-3);
}

.dropdown-toggle:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    font-family: var(--head-font);
    font-size: var(--font-size-small);
}

.navbar-expand-lg .navbar-nav .dropdown-item {
    width: 100%;
    margin: auto;
    border-radius: var(--radius-medium);
    padding: 7px 15px;
    color: var(--txt-color);
}

.navbar-expand-lg .navbar-nav .dropdown-item:hover {
    background-color: var(--main-color);
    color: #fff;
}

.lang-btn {
    border: 1px solid var(--main-color);
    border-radius: var(--radius-huge);
    padding: 5px;
    display: flex;
    align-items: center;
}

.lang-btn:hover,
.lang-btn:focus {
    border: 1px solid var(--main-color-hover) !important;
    background-color: var(--bg-color-2);
}

.lang-btn,
.lang-item {
    font-size: var(--font-size-smallest);
    font-weight: 600;
    font-family: var(--base-font);
    color: var(--txt-color);
}

.lang-item img,
.lang-btn img {
    width: 15px;
    height: 15px;
    border-radius: var(--radius-round);
}

.lang-menu {
    --bs-dropdown-min-width: 0;
    left: -9px !important;
    margin-top: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border: none;
    color: var(--txt-color);
    background-color: var(--bg-color-1);
    padding: 5px;
    border-radius: var(--radius-medium);
}

.lang-item {
    border-radius: var(--radius-medium);
}

.lang-item:hover {
    background-color: var(--bg-color-2);
    color: var(--txt-color);
}

.buttons-list {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
}

.nav-btn {
    font-size: var(--font-size-small);
    padding: 5px;
    margin-left: 5px;
    transition: var(--transition-3);
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 .3rem;
    justify-content: center;
    color: var(--txt-color);
    align-items: center;
    border-radius: var(--radius-round);
}

.nav-btn:hover {
    background-color: var(--main-color);
    color: #fff;
}

.nav-btn:first-of-type {
    margin-left: 0 !important;
}

@media (max-width: 768px) {

    .navbar {
        padding: 5px 5px;
    }

    .navbar-nav {
        margin-left: 0;
    }

    .nav-item {
        padding: 7px 15px !important;
    }

    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        display: none;
        transform: unset !important;
        position: unset !important;
        margin-top: 7px !important;
        box-shadow: unset !important;
        background-color: var(--bg-color-2);
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu.show {
        display: block;
    }
}

/*---------------------------
# Offcanvas
---------------------------*/
.offcanvas {
    background-color: var(--bg-color-1);
}

.offcanvas-backdrop {
    backdrop-filter: blur(1.8px);
    background-color: unset;
    opacity: 1 !important;
    background-color: #1d1d1d5e;
}

.offcanvas-header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 16px;
    width: 95%;
    margin: auto;
    border-radius: var(--radius-big);
    margin-top: 10px;
}

.offcanvas-header>.offcanvas-title {
    font-size: var(--font-size-base);
    font-family: var(--head-font);
    color: var(--txt-color);
}

.offcanvas-start {
    border-radius: 0 var(--radius-big) var(--radius-big) 0;
}

.offcanvas-end {
    border-radius: var(--radius-big) 0 0 var(--radius-big);
}

.offcanvas-top {
    border-radius: 0 0 var(--radius-big) var(--radius-big);
}

@media (max-width: 768px) {
    .offcanvas {
        width: 88% !important;
    }

    .offcanvas-top {
        width: 100% !important;
    }
}

.offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border: none !important;
    transform: translateX(-100%);
}

/*---------------------------
# Buttons
---------------------------*/
.btn-close {
    background-image: unset;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-round);
    background-color: var(--main-color);
    color: #fff !important;
    transition: var(--transition-3);
    margin-top: -15px;
    font-size: var(--font-size-base);
}

.btn-close:hover {
    background-color: var(--main-color-hover);
    color: #fff !important;
}

/*---------------------------
# Dropdown
---------------------------*/
.dropdown-menu {
    display: block;
    position: absolute;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(20px);
    transition: var(--transition-3);
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

/*---------------------------
# Modal
---------------------------*/
.modal {
    backdrop-filter: blur(2px);
    transition: var(--transition-3);
}

.modal-content {
    border-radius: var(--radius-huge);
    box-shadow: rgba(100, 100, 111, 0.082)px 29px 0px;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-title {
    font-family: var(--head-font);
    font-size: var(--font-size-base) !important;
}

.modal-title i {
    font-size: var(--font-size-small) !important;
}

/*---------------------------
# Search menu
---------------------------*/
.often-search {
    border-radius: var(--radius-huge);
}

.search-menu input {
    border-radius: var(--radius-huge);
    border: 1px solid var(--bg-color-hover);
    font-family: var(--base-font);
    font-size: var(--font-size-base);
}

.search-menu input:focus {
    border: 1px solid var(--main-color) !important;
}

/*---------------------------
# Settings menu
---------------------------*/
.settings-body {
    padding: 0;
}

.settings-container {
    padding: 10px;
}

.settings-item {
    background-color: var(--bg-color-1);
    color: var(--txt-color);
    border-radius: var(--radius-medium);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.116) 0px 8px 24px;
}

.settings-header {
    font-size: var(--font-size-base);
    font-family: var(--head-font);
}

.settings-header p,
label {
    font-size: var(--font-size-base);
    font-family: var(--base-font);
}

.settings-header-icon {
    width: 30px;
    height: 30px;
    background-color: var(--bg-color-1);
    display: inline-flex;
    justify-content: center;
    color: var(--main-color);
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: var(--font-size-base);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.settings-switch {
    padding: 10px;
    border-radius: var(--radius-medium);
    color: var(--txt-color);
    padding-left: 15px;
    padding-right: 15px;
    transition: var(--transition-4);
    cursor: pointer;
    margin-bottom: 0.4rem;
}

.settings-switch label,
.settings-switch input {
    cursor: pointer;
}

.settings-switch p {
    font-size: var(--font-size-base);
}

.settings-switch:hover {
    background-color: var(--bg-color-2);
}

/*--------------------------------------
  # Color change settings
--------------------------------------*/
#pink {
    background-color: rgb(255, 125, 147);
    transition: var(--transition-3);
}

#pink:hover {
    background-color: rgb(253, 98, 124);
}

#green {
    background-color: #5f7bf8;
    transition: var(--transition-3);
}

#green:hover {
    background-color: #4b64dd;
}

#orange {
    background-color: rgb(255, 123, 46);
    transition: var(--transition-3);
}

#orange:hover {
    background-color: rgb(255, 107, 22);
}

#red {
    background-color: rgb(224, 79, 79);
    transition: var(--transition-3);
}

#red:hover {
    background-color: rgb(218, 62, 62);
}

#black {
    background-color: #654E92;
    transition: var(--transition-3);
}

#black:hover {
    background-color: #574183;
}

#default {
    background-color: #00af83;
    transition: var(--transition-3);
}

#default:hover {
    background-color: #009b74;
}

.color-main-content {
    margin-top: 10px;
}

.color {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 .2rem;
    border-radius: var(--radius-medium);
    cursor: pointer;
    animation: pulse var(--transition-4);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.selected {
    background-color: var(--main-color-hover);
}

.color-checked {
    position: relative;
    top: -5px;
    left: -17px;
    border: 3px solid transparent;
    border-radius: var(--radius-round);
    transition: var(--transition-3);
    width: 20px;
    background-color: var(--bg-color-1);
    height: 20px;
    z-index: 999;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.color-checked.active {
    opacity: 1;
    transition: var(--transition-3);
}

@media (max-width: 768px) {
    .color:last-child {
        margin-top: 10px;
    }
}