/*---------------------------
# Font Family
---------------------------*/
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-ingiri-arial/css/bpg-ingiri-arial.min.css");

/*---------------------------
# Root
---------------------------*/
:root {
    /*--------- Color ---------*/
    --bg-color-1: #fff;
    --bg-color-2: #f0f2f5;
    --bg-glass: #e6e6e688;
    --txt-color: #313131;
    --txt-color-2: #65676B;
    --main-color: #14C38E;
    --main-color-hover: #009b74;
    --box-shadow: #00000017;

    /*--------- Font size ---------*/
    --font-size-smallest: 11px;
    --font-size-small: 14px;
    --font-size-base: 15px;
    --font-size-big: 20px;
    --font-size-more-big: 35px;

    /*--------- Font family ---------*/
    --base-font: "BPG Ingiri Arial", sans-serif;
    --head-font: "BPG Arial Caps", sans-serif;

    /*--------- Border radius ---------*/
    --radius-small: 5px;
    --radius-medium: 10px;
    --radius-big: 15px;
    --radius-huge: 20px;
    --radius-round: 50%;

    /*--------- Transition ---------*/
    --transition-3: .3s;
    --transition-4: .4s;
    --transition-5: .5s;
    --transition-6: .6s;

    /*--------- Bootstrap ---------*/
    --bs-dropdown-link-active-bg: #00af83 !important;
    --bs-btn-active-border-color: transparent !important;
}

/*--------------------------------------
# Scrollbar
--------------------------------------*/
*::-webkit-scrollbar {
    display: none;
}

/*-----------------------------------------------
  # Webkit tools
-----------------------------------------------*/
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/*--------------------------------------
# Body with elements
--------------------------------------*/
body {
    font-size: var(--font-size-base);
    background-color: var(--bg-color-2);
    color: var(--txt-color);
    overflow-x: hidden;
}

body.dark {
    --bg-color-1: hsl(219, 4%, 7%);
    --bg-color-2: hsl(219, 4%, 4%);
    --txt-color: #fff;
    --bg-glass: #2e2e2e81;
    --txt-color-2: #d6d6d6;
}

body.pink {
    --main-color: rgb(255, 125, 147) !important;
    --main-color-hover: rgb(253, 98, 124) !important;
}

body.green {
    --main-color: #5f7bf8 !important;
    --main-color-hover: #4b64dd !important;
}

body.orange {
    --main-color: rgb(255, 123, 46) !important;
    --main-color-hover: rgb(255, 107, 22) !important;
}

body.red {
    --main-color: rgb(224, 79, 79) !important;
    --main-color-hover: rgb(218, 62, 62) !important;
}

body.black {
    --main-color: #654E92 !important;
    --main-color-hover: #574183 !important;
}

body.default {
    --main-color: #00af83 !important;
    --main-color-hover: #009b74 !important;
}

/* ----- Font scheme ----- */
body.FontSize-small {
    --font-size-smallest: 9px;
    --font-size-small: 11px;
    --font-size-base: 13px;
    --font-size-big: 16px;
    --font-size-huge: 18px;
}

body.FontSize-medium {
    --font-size-smallest: 11px;
    --font-size-small: 14px;
    --font-size-base: 15px;
    --font-size-big: 20px;
    --font-size-huge: 35px;
}

body.FontSize-big {
    --font-size-smallest: 13px;
    --font-size-small: 15px;
    --font-size-base: 17px;
    --font-size-big: 22px;
    --font-size-huge: 27px;
}

/*---------------------------
# Default elements
---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

ul,
li,
p {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: var(--base-font);
}

a {
    text-decoration: none;
    font-family: var(--base-font);
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--head-font);
}

.line {
    border-right: 2px solid var(--bg-glass);
    padding-right: 5px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

/*==========================================================
# Bootstrap elements
==========================================================*/
/*--------------------------------------
# Switch button
--------------------------------------*/
.form-check-input {
    margin-top: 0;
    width: 1.1rem;
    height: 1.1rem;
    background-color: var(--bg-color-1);
    border-color: var(--main-color);
    transition: var(--transition-4);
}

.form-check-input:checked {
    border-color: var(--main-color);
    background-color: var(--main-color-hover);
    transition: var(--transition-4);
}

/*--------------------------------------
# Tooltips
--------------------------------------*/
.tooltip-inner {
    text-align: center;
    font-size: var(--font-size-small);
    font-family: var(--base-font);
    background-color: var(--bg-color-1);
    color: var(--txt-color);
    border-radius: var(--radius-big);
}

.tooltip {
    width: auto;
    margin-top: 20px;
}

.tooltip-arrow {
    display: none !important;
}

/*--------------------------------------
# Cards
--------------------------------------*/
.card {
    border: none;
    background-color: var(--bg-color-1);
    color: var(--txt-color);
    border-radius: var(--radius-huge);
}

.card img {
    max-height: 200px;
    min-height: 200px;
    border-radius: var(--radius-huge);
    object-fit: cover;
    object-position: center;
    padding: 5px;
}

.card .card-text {
    cursor: pointer;
}

.card-footer {
    background-color: var(--bg-color-1);
    border-radius: 0 0 var(--radius-huge) var(--radius-huge) !important;
    border-top-color: var();
}

.card-footer {
    color: var(--txt-color-2);
    font-size: var(--font-size-small);
}


/*---------------------------
# Offcanvas
---------------------------*/
.offcanvas {
    background-color: var(--bg-color-1);
    height: 100vh;
}

.offcanvas-backdrop {
    backdrop-filter: blur(1.8px);
    background-color: unset;
    opacity: 1 !important;
    background-color: #1d1d1d5e;
}

.offcanvas-header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 16px;
    width: 95%;
    margin: auto;
    border-radius: var(--radius-big);
    margin-top: 10px;
}

.offcanvas-header>.offcanvas-title {
    font-size: var(--font-size-base);
    font-family: var(--head-font);
    color: var(--txt-color);
}

.offcanvas-start {
    border-radius: 0 var(--radius-big) var(--radius-big) 0;
}

.offcanvas-end {
    border-radius: var(--radius-big) 0 0 var(--radius-big);
}

.offcanvas-top {
    border-radius: 0 0 var(--radius-big) var(--radius-big);
}

.offcanvas.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border: none !important;
    transform: translateX(-100%);
}

/*---------------------------
# Buttons
---------------------------*/
.btn-close {
    background-image: unset;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-round);
    background-color: var(--main-color);
    color: #fff !important;
    transition: var(--transition-3);
    margin-top: -15px !important;
    font-size: var(--font-size-base);
}

.btn-close:hover {
    background-color: var(--main-color-hover);
    color: #fff !important;
}

.btn-secondary {
    font-family: var(--head-font);
    font-size: var(--font-size-base);
    border-radius: var(--radius-medium);
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px !important;
}

.btn-primary {
    border: 1px solid var(--main-color);
    background-color: transparent;
    padding: 5px 20px;
    border-radius: var(--radius-huge);
    color: var(--main-color);
    font-family: var(--head-font);
    font-size: var(--font-size-small);
    text-align: center;
}

.btn-primary:active {
    background-color: var(--main-color) !important;
    border: 1px solid var(--main-color) !important;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--main-color);
    box-shadow: none;
    border-color: var(--main-color);
}

/*---------------------------
# Dropdown
---------------------------*/
.dropdown-menu {
    display: block;
    position: absolute;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(20px);
    transition: var(--transition-3);
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

/*---------------------------
# Title
---------------------------*/
.container-title {
    padding: 0 20px;
}

/*---------------------------
# Modal
---------------------------*/
.modal {
    backdrop-filter: blur(2px);
}

.modal-content {
    border-radius: var(--radius-huge);
    background-color: var(--bg-color-1);
}

.modal-header,
.modal-footer {
    border: none;
    background-color: var(--bg-color-1);
    border-radius: var(--radius-huge);
}

.modal-title {
    font-family: var(--head-font);
    font-size: var(--font-size-base) !important;
}

.modal-title i {
    font-size: var(--font-size-small) !important;
}

@keyframes fade-in {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fade-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.modal.fade {
    animation-duration: 0.2s;
}

.modal.fade.show {
    animation-name: fade-in;
}

.modal.fade {
    animation-name: fade-out;
}

/*==========================================================
# SwiperJS elements
==========================================================*/
/*--------------------------------------
# pagination
--------------------------------------*/
.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: var(--main-color);
}

.swiper-pagination-bullet {
    background-color: var(--main-color);
}

.pagination {
    margin-top: 35px;
}

.swiper-buttons-list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 50px;
    z-index: 10;
}

.swiper-buttons-list i {
    color: var(--main-color);
}

.swiper-button-next,
.swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--bg-color-1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--main-color);
}

.swiper-button-next:hover>i,
.swiper-button-prev:hover>i {
    color: #fff;
}

.swiper-slide {
    width: auto;
}


/*--------------------------------------
# Nex and prev buttons
--------------------------------------*/
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

/*---------------------------
# Header
---------------------------*/
header {
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 5px 30px;
    z-index: 999;
    position: fixed;
    width: 100%;
    transition: var(--transition-3);
    background-color: var(--bg-color-1);
}

.navbar.active {
    box-shadow: rgba(0, 0, 0, 0.082) 0px 7px 29px 0px;
}

.navbar-nav {
    margin-left: 30px;
}

.navbar .nav-link {
    font-family: var(--head-font);
    font-size: var(--font-size-small);
    padding: 3.5px 10px !important;
    margin: 0 .2rem;
    border-radius: var(--radius-huge);
    cursor: pointer;
    color: var(--txt-color);
    width: max-content;

    position: relative;
    text-decoration: none;
}

.navbar .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .4s ease-in-out;
}

.navbar .nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .nav-link:hover {
    color: var(--main-color);
}

.navbar .nav-link.active {
    color: var(--main-color);
}

.navbar .nav-link.active:hover {
    color: var(--main-color);
}

.navbar .nav-link.show {
    color: var(--main-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    display: block;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: var(--transition-3);
    margin-top: 20px;
    padding: 10px;
    background-color: var(--bg-color-1);
}

.navbar-expand-lg .navbar-nav .dropdown-menu.show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    margin-top: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    top: 50px;
    width: auto;
    border: none;
    border-radius: var(--radius-big);
    box-shadow: rgba(0, 0, 0, 0.068) 0px 7px 29px 0px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle .fa-chevron-down {
    transition: var(--transition-3);
}

.dropdown-toggle:hover .fa-chevron-down {
    transform: rotate(180deg);
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    font-family: var(--head-font);
    font-size: var(--font-size-small);
}

.navbar-expand-lg .navbar-nav .dropdown-item {
    width: 100%;
    margin: auto;
    border-radius: var(--radius-medium);
    padding: 7px 15px;
    color: var(--txt-color);
}

.navbar-expand-lg .navbar-nav .dropdown-item:hover {
    background-color: var(--main-color);
    color: #fff;
}

.lang-btn {
    border: 1px solid var(--bg-color-2);
    border-radius: var(--radius-huge);
    padding: 5px;
    display: flex;
    align-items: center;
}

.lang-btn:hover,
.lang-btn:focus {
    border: 1px solid var(--main-color) !important;
    background-color: var(--bg-color-2);
}

.lang-btn,
.lang-item {
    font-size: var(--font-size-smallest);
    font-weight: 600;
    font-family: var(--base-font);
    color: var(--txt-color);
}

.lang-item img,
.lang-btn img {
    width: 15px;
    height: 15px;
    border-radius: var(--radius-round);
}

.lang-menu {
    --bs-dropdown-min-width: 0;
    left: -9px !important;
    margin-top: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border: none;
    color: var(--txt-color);
    background-color: var(--bg-color-1);
    padding: 5px;
    border-radius: var(--radius-medium);
}

.lang-item {
    border-radius: var(--radius-medium);
}

.lang-item:hover {
    background-color: var(--bg-color-2);
    color: var(--txt-color);
}

.buttons-list {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
}

.nav-btn {
    font-size: var(--font-size-small);
    padding: 5px;
    margin-left: 5px;
    transition: var(--transition-3);
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 .3rem;
    justify-content: center;
    color: var(--txt-color);
    align-items: center;
    border-radius: var(--radius-round);
}

.nav-btn:hover {
    background-color: var(--bg-color-2);
    color: var(--main-color);
}

.nav-btn:first-of-type {
    margin-left: 0 !important;
}


/*---------------------------
# Search menu
---------------------------*/
.popular-search-list {
    border-radius: var(--radius-huge);
    background-color: var(--bg-color-1);
    border: 1px solid transparent;
    padding: 10px;
    font-family: var(--base-font);
}

.popular-search-list .title {
    font-size: var(--font-size-base);
    font-family: var(--head-font);
    padding: 10px;
    color: var(--main-color);
    transition: var(--transition-3);
}

.popular-search-list li {
    border: none;
    font-size: var(--font-size-small);
    margin: .2rem 0;
    border-radius: var(--radius-big) !important;
    color: var(--txt-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.popular-search-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    border-radius: var(--radius-big);
    margin-top: 10px;
}

.popular-search-list a:hover li {
    color: #fff;
}

.popular-search-list a:hover {
    background-color: var(--main-color);
    color: #fff;
}

.search-menu input {
    border-radius: var(--radius-huge);
    border: 1px solid var(--bg-color-2);
    padding: 7px;
    padding-left: 20px;
    font-family: var(--base-font);
    font-size: var(--font-size-base);
    background-color: var(--bg-color-2);
}

.search-menu input,
.search-menu input::placeholder {
    color: var(--txt-color) !important;
}

.search-menu input:focus {
    border: 1px solid var(--main-color) !important;
    background-color: var(--bg-color-2);
    border-radius: var(--radius-medium);
}

/*---------------------------
# Settings menu
---------------------------*/
.settings-body {
    padding: 0;
}

.settings-container {
    padding: 10px;
}

.settings-item {
    background-color: var(--bg-color-1);
    color: var(--txt-color);
    border-radius: var(--radius-medium);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.116) 0px 8px 24px;
}

.settings-header {
    font-size: var(--font-size-base);
    font-family: var(--head-font);
}

.settings-header p,
label {
    font-size: var(--font-size-base);
    font-family: var(--base-font);
}

.settings-header-icon {
    width: 30px;
    height: 30px;
    background-color: var(--bg-color-1);
    display: inline-flex;
    justify-content: center;
    color: var(--main-color);
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    font-size: var(--font-size-base);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.settings-switch {
    padding: 10px;
    border-radius: var(--radius-medium);
    color: var(--txt-color);
    padding-left: 15px;
    padding-right: 15px;
    transition: var(--transition-4);
    cursor: pointer;
    margin-bottom: 0.4rem;
}

.settings-switch label,
.settings-switch input {
    cursor: pointer;
}

.settings-switch p {
    font-size: var(--font-size-base);
}

.settings-switch:hover {
    background-color: var(--bg-color-2);
}

/*--------------------------------------
  # Color change settings
--------------------------------------*/
#pink {
    background-color: rgb(255, 125, 147);
    transition: var(--transition-3);
}

#pink:hover {
    background-color: rgb(253, 98, 124);
}

#green {
    background-color: #5f7bf8;
    transition: var(--transition-3);
}

#green:hover {
    background-color: #4b64dd;
}

#orange {
    background-color: rgb(255, 123, 46);
    transition: var(--transition-3);
}

#orange:hover {
    background-color: rgb(255, 107, 22);
}

#red {
    background-color: rgb(224, 79, 79);
    transition: var(--transition-3);
}

#red:hover {
    background-color: rgb(218, 62, 62);
}

#black {
    background-color: #654E92;
    transition: var(--transition-3);
}

#black:hover {
    background-color: #574183;
}

#default {
    background-color: #00af83;
    transition: var(--transition-3);
}

#default:hover {
    background-color: #009b74;
}

.color-main-content {
    margin-top: 10px;
}

.color {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 .2rem;
    border-radius: var(--radius-medium);
    cursor: pointer;
    animation: pulse var(--transition-4);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.selected {
    background-color: var(--main-color-hover);
}

.color-checked {
    position: relative;
    top: -5px;
    left: -17px;
    border: 3px solid transparent;
    border-radius: var(--radius-round);
    transition: var(--transition-3);
    width: 20px;
    background-color: var(--bg-color-1);
    height: 20px;
    z-index: 999;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.color-checked.active {
    opacity: 1;
    transition: var(--transition-3);
}

/*--------------------------------------
# cookie section
--------------------------------------*/
.cookie-container {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    left: 0;
    width: 500px;
    padding: 25px;
    margin: 10px;
    border-radius: var(--radius-big);
    background-color: var(--bg-color-1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.cookie-container p {
    color: var(--txt-color);
    font-family: var(--base-font-font);
}

#accept-cookie {
    font-family: var(--base-font);
    font-size: var(--font-size-base);
    background-color: unset;
    display: inline;
    color: var(--txt-color);
    border: 1px solid var(--main-color);
    padding: 3px 10px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: var(--radius-huge);
}

/*--------------------------------------
# Hero section
--------------------------------------*/
.hero {
    height: 100vh;
}

.hero-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-color-2);
    background-attachment: fixed !important;
}

.hero-container {
    width: 100vw;
    height: 100vh;
    backdrop-filter: brightness(55%);
}

.hero-content {
    position: relative;
    top: 40%;
    width: 50%;
    left: 10%;
}

.hero-container h5 {
    font-size: var(--font-size-huge);
    color: #fff;
    font-family: 600;
}

.hero-container p {
    font-family: var(--base-font);
    font-size: var(--font-size-base);
    color: #fff;
}

.hero-container .btn-primary {
    font-family: var(--head-font);
    font-size: var(--font-size-base);
    margin-top: 20px;
    background-color: unset;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.hero-container .btn-primary i {
    font-size: var(--font-size-big);
}

.hero-container .btn-primary:active,
.hero-container .btn-primary:hover {
    color: var(--main-color);
    background-color: unset;
}


/*--------------------------------------
# services
--------------------------------------*/
.services .card {
    border-radius: var(--radius-big);
}

.services .card h5 {
    color: var(--main-color);
    font-size: var(--font-size-big);
}

.services .card h5,
.services .card p {
    text-align: center;
}

.services .card p {
    color: var(--txt-color);
    font-family: var(--head-font);
    font-size: var(--font-size-base);
}

.services .card .card-second-text {
    text-align: center;
    font-size: var(--font-size-smallest);
    color: var(--txt-color-2);
    font-family: var(--base-font);
    font-weight: lighter;
}

/*--------------------------------------
# Popular tours
--------------------------------------*/
.popular-tours .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.popular-tours .card .card-title {
    color: var(--main-color);
}

.popular-tours .card .card-text {
    color: var(--txt-color-2);
}

.popular-tours .card:hover {
    transform: scale(1.05);
    transition: var(--transition-3);
}

.popular-tours .card .price {
    position: absolute;
    top: 0;
    z-index: 99;
    right: 0;
    background-color: var(--bg-color-1);
    margin: 10px;
    padding: 2px 15px;
    border-radius: var(--radius-medium);
}

/*--------------------------------------
# Popular places
--------------------------------------*/
.popular-place .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.popular-place .card:hover {
    transform: translateY(-10px);
}

/*--------------------------------------
# Guides section
--------------------------------------*/
.guides-section .card .card-img-top {
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    margin: auto;
    border: 2px solid var(--main-color);
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: var(--radius-round);
}

.guides-section .card .card-title,
.guides-section .card .card-text {
    text-align: center;
}

.guides-section .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.guides-section .card:hover {
    transform: scale(1.04);
}

/*--------------------------------------
# car rent section
--------------------------------------*/
.car-rent-section .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.car-rent-section .card:hover {
    transform: scale(1.04);
}

.footer {
    background-color: var(--bg-color-1);
}

/*--------------------------------------
# Transport section
--------------------------------------*/
.transport-section .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.transport-section .card:hover {
    transform: scale(1.04);
}

/*--------------------------------------
# Food card Section
--------------------------------------*/
.food-section .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.food-section .card:hover {
    transform: scale(1.04);
}

/*--------------------------------------
# Hotel card Section
--------------------------------------*/
.hotel-section .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.hotel-section .card:hover {
    transform: scale(1.04);
}

/*--------------------------------------
# Extrem card Section
--------------------------------------*/
.extrem-section .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.extrem-section .card:hover {
    transform: scale(1.04);
}

/*--------------------------------------
# Entertainment card Section
--------------------------------------*/
.entertainment-section .card {
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: var(--transition-3);
}

.entertainment-section .card:hover {
    transform: scale(1.04);
}


/*--------------------------------------
# Call to Action
--------------------------------------*/
.cta {
    background-color: var(--bg-color-1);
    color: var(--txt-color);
}

.cta h1 {
    font-size: var(--font-size-more-big);
}

.cta p {
    font-family: var(--base-font);
    font-size: var(--font-size-base);
}

/*--------------------------------------------------------------
# news
--------------------------------------------------------------*/
.news {
    padding: 20px;
    background-color: var(--bg-color-1);
}

.news .nav-tabs {
    border: unset;
}

.news .news-container {
    padding: 0;
}

.news .nav-link {
    border: 0;
    padding: 20px !important;
    color: var(--txt-color-2);
    background-color: unset;
    cursor: pointer;
    width: auto;
    border-radius: var(--radius-big);
    font-family: var(--base-font);
}

.news .nav-link h4 {
    font-size: var(--font-size-base);
    transition: var(--transition-3);
    color: var(--txt-color);
    margin: 0;
    font-family: var(--base-font);
}

.news .nav-link p {
    font-size: var(--font-size-small);
    margin-bottom: 0;
    color: var(--txt-color-2);
}

.news .nav-link:hover {
    background: var(--bg-color-2);
    color: var(--main-color);
}

.news .nav-link:hover h4 {
    color: var(--main-color);
}

.news .nav-link.active h4 {
    color: var(--main-color);
}

.news .nav-link.active {
    background: var(--bg-color-2);
    color: var(--txt-color-1) !important;
}

.news .tab-pane.active {
    animation: slide-down var(--transition-3) ease-in;
}

.news .tab-pane img {
    float: left;
    max-width: 300px;
    border-radius: var(--radius-big);
    margin-right: 30px;
}

@media (max-width: 768px) {
    .news .tab-pane img {
        float: none;
        padding: 0 0 15px 0;
        max-width: 100%;
    }
}

.news .tab-pane h3 {
    font-size: var(--font-size-big);
    margin-bottom: 20px;
    color: var(--txt-color);
}

.news .tab-pane p {
    color: var(--txt-color-2);
    margin-left: 10px !important;
}

.news .tab-pane p:last-child {
    margin-bottom: 0;
}

@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*--------------------------------------
# Difficulty levels
--------------------------------------*/
.difficulty-level {
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
    margin-left: 5px;
    font-size: var(--font-size-smallest);
    border-radius: var(--radius-round);
}

.dif-btn {
    width: 17px;
    height: 17px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8px;
    border: 1.5px solid var(--bg-color-1);
    border-radius: var(--radius-round);
    left: -8px;
    font-size: var(--font-size-smallest);
    color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    background-color: var(--bg-color-1);
}

.contact .info-box {
    color: var(--txt-color);
    text-align: center;
    padding: 20px 0 30px 0;
    border-radius: var(--radius-huge);
    background-color: var(--bg-color-2);
    font-family: var(--base-font);
}

.contact .info-box i {
    font-size: var(--base-font-size);
    color: var(--main-color);
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
    border: 2px dotted #00af83;
}

.contact .info-box h3 {
    font-size: var(--font-size-base);
    color: var(--txt-color);
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    color: var(--txt-color-2);
}

.contact .php-email-form {
    padding: 30px;
    background-color: var(--bg-color-2);
    border-radius: var(--radius-huge);
}

@media (max-width: 768px) {
    .php-email-form {
        margin-top: 20px;
    }
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: var(--bg-color-2);
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid red;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    font-size: 14px;
    background-color: var(--bg-color-1);
    border-radius: var(--radius-medium);
    color: var(--txt-color);
    border-color: var(--bg-glass);
    font-family: var(--base-font);
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
    color: var(--txt-color);
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: var(--main-color);
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: var(--bg-color-1);
    padding: 0 0 30px 0;
    color: var(--txt-color);
    font-size: 14px;
}

#footer .footer-top {
    background: var(--bg-color-1);
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: var(--main-color-hover);
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: var(--main-color);
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: var(--txt-color-2);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: var(--main-color-hover);
}

#footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: var(--bg-color-2);
    padding: 6px 10px;
    position: relative;
    border: 1px solid var(--bg-glass);
    border-top-left-radius: var(--radius-huge);
    border-bottom-left-radius: var(--radius-huge);
}

#footer .footer-top .footer-newsletter form input[type=email] {
    border: unset;
    padding: 4px;
    width: calc(100% - 110px);
    background-color: var(--bg-color-2);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--main-color);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 var(--radius-huge) var(--radius-huge) 0;
    font-family: var(--base-font);
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
    background: var(--main-color-hover);
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
}

/*================================================================
# Responsive (media queries)
=================================================================*/
@media (max-width: 768px) {

    /*--------------------------------------
    # Offcanvas
    --------------------------------------*/
    .offcanvas {
        width: 88% !important;
    }

    .offcanvas-top {
        width: 100% !important;
    }

    /*--------------------------------------
    # Hero
    --------------------------------------*/
    .hero-content {
        position: relative;
        top: 40%;
        width: 80%;
        left: 10%;
    }

    /*--------------------------------------
    # Cookie
    --------------------------------------*/
    .cookie-container {
        width: 95%;
    }


    /*--------------------------------------
    # Settings color mode
    --------------------------------------*/
    .color:last-child {
        margin-top: 10px;
    }

    /*--------------------------------------
    # Navbar
    --------------------------------------*/
    .navbar {
        padding: 5px 5px;
    }

    .navbar-nav {
        margin-left: 0;
    }

    .nav-item {
        padding: 7px 15px !important;
    }

    .nav-link {
        padding: 7px 15px;
        border-radius: var(--radius-medium);
    }

    .dropdown-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        display: none;
        transform: unset !important;
        position: unset !important;
        margin-top: 7px !important;
        box-shadow: unset !important;
        background-color: var(--bg-color-2);
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu.show {
        display: block;
    }

    /*--------------------------------------
    # main page content
    --------------------------------------*/
    .pagination {
        margin-top: 30px;
    }

    .container-title {
        padding: 0 0;
    }

    /*-------------- Popular tours ------------*/
    .popular-tours .card:hover {
        transform: scale(1);
    }
}